*{ box-sizing: border-box;}
body{ text-align: center; }
#gameboard {
	display:flex;
    flex-wrap: wrap;
	margin:0 auto 2em auto;
	width:480px;
	height:480px;
}
#gameboard div {
	background: #f6f8f9; /* Old browsers */
	border: 1px solid #ddd;
	width:50px;
	height:50px;
    text-align: center;
}
#gameboard div:hover{
    background: rgb(255, 191, 154);
    cursor: pointer;
}
#gameboard div.top{
    background: #BDBDBD;
    height: 20px;
}
#gameboard div.left{
    background: #BDBDBD;
    width: 20px;
}
#gameboard div.hide{ visibility: hidden;}
#gameboard div.highlight{border: orange 1px solid;}
